@model Sweet.Models.Meeting

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<p>
    Are you sure you would like to delete this video?
</p>
<ul>
    <li>Name: @Model.UserName</li>
    <li>Date: @Model.Schedule</li>
</ul>

@using (Html.BeginForm("DoDelete", "Meetings", FormMethod.Post))
{

    @Html.HiddenFor(m => m.MeetingId)
    <input type="submit" class="btn btn-danger" value="Yes, Delete it!" />
    @Html.ActionLink("No, back to meetings", "Index")

