@model Sweet.Models.Meeting

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Update", "Meetings", FormMethod.Post, new { @class = "form" }))
{
    Html.RenderPartial("_MeetingForm");
}

