@model Sweet.Models.Meeting

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>

@using (Html.BeginForm("Add", "Meetings", FormMethod.Post, new { @class = "form" }))
{
    Html.RenderPartial("_MeetingForm");
}

